.destination {
  background-color: #fff;
  margin: 2rem 5rem 0 2rem;

h1 {
  font-weight: 400;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.destination-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

.destination-card {
}
.destination-card img {
  position: relative;
  z-index: 1;
  width: 12rem;
  height: 8rem;
  border-radius: 8px;
  object-fit: cover;
}
.destination-card p {
  margin: 0.5rem 0;
  text-align: center;
}
}
}