.premium-section {
  background-image: url('../../public/images/premium.png');
  padding: 2rem 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  color: #fff;
  margin-top: 3rem;
 



  .premium-overlay {
    background-color: rgba(54, 124, 45, 0.7);
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    text-align: center;
    max-width: 900px;
    width: 100%;

    .premium-subtitle {
      // color: #e4ff50;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    .premium-title {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 1.2rem;
    }

    .premium-description {
      font-size: 1rem;
      line-height: 1.6;
      max-width: 700px;
      margin: 0 auto 2rem;
      color: #eee;
    }

    .premium-options {
      display: flex;
      justify-content: center;
      justify-content: row;
      gap: 2rem;
      margin-bottom: 2rem;
      

      .option {
        text-align: center;
        max-width: 220px;

        .icon-circle {
          border-radius: 50%;
          width: 48px;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto 1rem;
          font-size: 1.5rem;
        }

        h4 {
          font-size: 1.1rem;
          color: #fff;
          margin-bottom: 0.5rem;
        }

        p {
          font-size: 0.95rem;
          color: #ddd;
        }
      }
    }

    .get-started-btn {
      background: #fff;
      color: #165016;
      border: none;
      padding: 0.75rem 1rem;
      border-radius: 10px;
      font-size: 1rem;
      cursor: pointer;
      transition: background 0.3s ease;

      &:hover {
        background: #f0f0f0;
      }
    }
  }
}
