.sidebar{
    width: 16rem;
    background-color: #ffffff;
    padding: 2rem 2rem 2rem 0;
    position: fixed;
    height: 100%;
   

ul{
    list-style: none;
   .logo{
       padding-left: 2rem;
      }

.sidebar-links {
     margin: 2rem 0 2rem 0;
     border-bottom: 2px solid #367C2D;
      display: block;
     
      
     li{
        margin: 2rem 0 2rem 2rem;
         font-weight: 600;
         font-size: small;
        
            

            &:hover {
                color: #ffffff;
                cursor: pointer;
                background-color: #367C2D;
                height: 2rem;
                width: 10rem;
                padding: 0.5rem;
                transition:  0.8s ease;
                 border-radius: 0.5rem;
                
        }
     }
      
}
.sidebar-links2 {
     
     
      display: block;
     
      
     li{
        margin: 2rem 0 2rem 2rem;
         font-weight: 600;
         font-size: small;
        
            

            &:hover {
                color: #ffffff;
                cursor: pointer;
                background-color: #367C2D;
                height: 2rem;
                width: 10rem;
                padding: 0.5rem;
                transition:  0.8s ease;
                 border-radius: 0.5rem;
                
        }
     }
     li.active {
    color: #ffffff;
    background-color: #367C2D;
    height: 2rem;
    width: 10rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

}
.welcome{
     font-weight: 500;
     font-size: small;
     margin: 8rem 0 0 2rem;
     color: #64748B;

}
}  
}


.nav-active {
    color: #ffffff;
    background-color: #367C2D;
    height: 2rem;
    width: 10rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}