.trip-table{
 margin: 2rem 5rem 0 2rem;
 .table-header{
    display : flex;
    background-color: #F7F9FB;
    padding: 1rem;
    gap: 1rem;
    border-radius: 0.5rem;
    i{
    width: 1.5rem;
    height: 1.5rem;
    }
    .search{
       margin-left: auto;
       color: #1C1C1C33;
        padding:0 0.5rem;
        border-radius: 0.3rem;
        border: 1px solid #1C1C1C1A;
        background-color: #FFFFFF66;
        input{
            border: none;
            outline: none;
            padding: 0.5rem 1rem;
            background: transparent; 
            color: inherit;
            }  
    }
 } 
 table{
    width: 100%;
    border-collapse: collapse;

 
    thead{
    
        
        .table-header-row{
       color: #1C1C1C66; 
      border-bottom: 1px solid #1C1C1C66;
       
         th{
            padding: 1rem;
            text-align: left;
            color: #1C1C1C66;
            font-weight: 400;
            gap: 12rem;
            
                    input[type="checkbox"] {
         border: 1px solid #1C1C1C66;
         appearance: none;
         width: 1.7rem;
         height: 1.7rem;
         border-radius: 0.5rem;
         background-color: white;
         cursor: pointer;
         position: relative; 
}
        }
    
        }
    }
.table-body{
    margin-top: 1rem;
    margin:auto;
         tr{
      border-bottom: 1px solid #E0E0E0;
       
         td{
            padding: 1rem;
            text-align: left;
            font-weight: 400;
        input[type="checkbox"] {
         border: 1px solid #1C1C1C66;
         appearance: none;
         width: 1.7rem;
         height: 1.7rem;
         border-radius: 0.5rem;
         background-color: white;
         cursor: pointer;
         position: relative; 
}

input[type="checkbox"]:checked {
  background-color: black;
}

input[type="checkbox"]:checked::after {
  content: '✓';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 14px;
  font-weight: bold;
}
 
        }
    }
       
}

 }
 .more-menu{
    button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: #1C1C1C66;
        font-size: 1.2rem;
        padding: 0.5rem;
        &:hover{
            color: #000;
        }
    }
 }
}       
